<div class="login-container">
  <div class="login-wrapper">
    <h3>welcome to</h3>
    <h1>List Me!</h1>
    <form [formGroup]="loginForm">
      <list-me-input placeholder="User name" type="text" [ctrl]="usernameCtrl" margin="10px 0px"></list-me-input>
      <list-me-input placeholder="Password" type="password" [ctrl]="passwordCtrl" margin="10px 0px"></list-me-input>
      <div class="action-buttons-container">
        <list-me-button buttonTitle="Log In" width="200px" backgroundColor="#3cdda8" fontColor="#222" (onClick)="login()"></list-me-button>
        <list-me-button buttonTitle="Register" width="110px" backgroundColor="#363636" fontColor="#3cdda8" (onClick)="utilService.goToNextPage('/register')"></list-me-button>
      </div>
    </form>
    <list-me-button width="100%" buttonTitle="Login with Google" backgroundColor="transparent" fontColor="#fff"></list-me-button>
  </div>
</div>

<list-me-loading loadingText="Loading..." [open]="openModal"></list-me-loading>
