*{
    font-family: 'Ubuntu', monospace;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 100% !important;
    height: 100vh !important;
    background: #222;
}

.login-wrapper {
    width: 100%;
    max-width: 320px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-wrapper h1 {
    font-size: 40pt;
    font-weight: bold;
    color: #3cdda8;
    margin-bottom: 30px;
}

.login-wrapper h3 {
    color: #afafaf;
}

.action-buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}