ion-back-button {
    display: block;
}

*{
    font-family: 'Ubuntu', monospace;
    font-weight: normal;
}

.register-container {
    width: 100%;
    height: 100vh;
    background: #222 !important;
}

.register-wrapper {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-wrapper h1 {
    font-size: 35pt;
    font-weight: bold;
    color: #3cdda8;
}

.register-wrapper form {
    margin-top: 30px;
}

.user-info-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info-section-one {
    width: 145px;
}